@model KhanhPG_SE05335.Models.Lophoc

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Lophoc</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaLop)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaLop)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenLop)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenLop)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Khoa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Khoa)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
